<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xamlns4:BGU.DRPL.SignificantOwnership.Core.Spares" value="bgus"/>
    <add key="xamlns4:BGU.DRPL.SignificantOwnership.Core.Spares.Data" value="bgusd"/>
    <add key="xamlns4:BGU.DRPL.SignificantOwnership.Core.Spares.Dict" value="bgud"/>
    <add key="xamlns4:BGU.DRPL.SignificantOwnership.Core.Questionnaires" value="bguq"/>
    <!--<add key="xamlns4:" value=""/>-->
    <!-- template for new ones -->
  </appSettings>
</configuration>